html {
    background: url("media/blueprintRvs.jpg");
    font-family: 'Courier New';
    font-size: 12pt;
    color: #EEEEFF; /* font color */
    font-weight: 500;
}
body {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
}
.siteContainer {
    min-width: 540px;
    max-width: 1140px;
    margin: auto;
}
a:link {
    color: #EEEEFF;
    text-decoration: none;
}
a:visited {
    color: #EEEEFF;
    text-decoration: none;
}
a:hover {
    color: #EEEEFF;
    text-decoration: underline;
}

a:active {
    color: #EEEEFF;
    text-decoration: none;
}

/* Standard spacing and positioning
----------------------------------------------------------*/
.padded {
    padding: 10px;
}

.margined {
    margin: 10px;
}

.bordered {
    border: 2px solid #7676FF;
    border-color: #CCCCFF; /* font color */
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* Standard fonts
----------------------------------------------------------*/
.heading4 {
    font-family: 'Courier New';
    font-size: 18pt;
    font-weight: bold;
    text-transform: uppercase;
}
.heading3 {
    font-family: 'Courier New';
    font-size: 16pt;
    font-weight: bold;
    text-transform: uppercase;
}

.heading2 {
    font-family: 'Courier New';
    font-size: 14pt;
    font-weight: bold;
    text-transform: uppercase;
}
.heading1 {
    font-family: 'Courier New';
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
}

/* Standard Image Styles
----------------------------------------------------------*/
.divImagePresenterDisplay {
    position: absolute;
    top: 0;
    width: 100%;
    visibility: hidden;
    text-align: center;
}

.imageFrame {
    padding: 1px;
    border: 1px solid #1C559A; /* text on font color background */
    background-color: #CCCCFF;
}

/* Footer Styles
----------------------------------------------------------*/
.contactIcons {
    width:32px;
    height:32px;
}

/* Header Styles
----------------------------------------------------------*/
.logoText {
    color: #1C559A; /* text on font color background */
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Courier New';
}

.logoTextRvs {
    color: #1C559A;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Courier New';
}

/* Site Banners (like headings)
----------------------------------------------------------*/
.banner {
    font-family: Verdana;
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    padding: 5px;
}

.bannerRvs {
    color: #1C559A;
    background-color: #CCCCFF;
}

/* specials
----------------------------------------------------------*/
@media (min-width: 1200px) {
    .floatOnSize {
        float: left;
    }
}

.selectBox {
    border:1px dashed transparent;
}
.selectBoxSelected {
    border: 1px dashed #CCCCFF;
}



