<!-- category.html (start) -->
<div style="float:left;margin:1%;width:31%;opacity:1;background:url([backgroundImageURL]);background-size:cover;position:relative;" onmouseover="this.style.opacity='.5';" onmouseout="this.style.opacity='1';">
    <a href="projects.html?searchString=[searchString]" style="text-decoration:none;font-weight:normal;">
        <div style="padding:5px;">
            <div class="banner bordered" style="float:left;width:98%;padding:0px;">
                <div class="banner bannerRvs" style="float:left;margin-right:5%;">[firstName]</div>
                <div class="banner">[secondName]</div>
            </div>
        </div>
        <div style="height:150px;clear:both;margin:5%;">
            <span style="visibility:hidden;font-family:Verdana;">
                [description]
            </span>
            <div class="vertical-center" style="font-family:Verdana;font-size:16px;margin:2%">
                [description]
            </div>
        </div>
    </a>
</div>

<!-- category.html -->