<!-- projectBanner.html (start) -->
<div style="clear:both;"></div>
<div style="padding:5px;">
    <div style="padding:5px;" class="selectBox" onmouseover="this.className = 'selectBoxSelected';" onmouseout="this.className = 'selectBox';">
        <a href="project.html?name=[name]" style="text-decoration:none;font-weight:normal;">
            <div style="float:left;margin-right:5px;">
                <img src="content/[folder]/[coverImage]" style="width:100px;height:100px;" class="imageFrame" />
            </div>
            <div style="height:104px;overflow:hidden;">
                <font class="heading1">[title]</font><br />
                [description]<br />
                [entries.0.text]
            </div>
        </a>
    </div>
</div>
<!-- projectBanner.html -->
