<table style="width:100%">
    <tr>
        <td align="center">
            <a href="https://www.facebook.com/david.galanti"><img src="media/facebook.png" class="contactIcons" target="_blank"/></a>
            <a href="https://www.linkedin.com/in/davidgalanti/"><img src="media/linkedin.png" class="contactIcons" target="_blank"/></a>
            <a href="https://www.thingiverse.com/codestudio/designs"><img src="media/thingiverse.png" class="contactIcons" target="_blank"/></a>
            <br />
            contact[at]CodeStudioCreation[dot]com<br />
            @ 2010 2021 - Copyright Footer<br />
        </td>
    </tr>
</table>

