<a href="project.html?name=[name]" style="text-decoration:none;font-weight:normal;">
    <table>
        <tr>
            <td style="padding:10px;">
                <img src="content/[folder]/[entries.0.image]" style="width:100px;height:100px;" class="imageFrame" />
            </td>
            <td valign="top" style="padding-top:10px;">
                <div style="overflow:hidden;height:100px;">
                    <font class="heading1">[title]</font><br />
                    [description]<br />
                    [entries.0.text]
                </div>
            </td>
        </tr>
    </table>
</a>
