<div style="width:270px;clear:both;border:1px solid transparent;padding:1px;" onmouseover="this.style.border = '1px solid #CCCCFF';" onmouseout="this.style.border = '1px solid transparent';">
    <a href="project.html?name=[name]" style="text-decoration:none;">
        <div style="float:left;margin-right:5px;">
            <img src="content/[folder]/[entries.0.image]" style="width:75px;height:75px;" class="imageFrame" />
        </div>
        <div style="height:79px;overflow:hidden;">
            <font class="heading2">[title]</font><br />
            [description]
        </div>
    </a>
</div>

