<!-- projectThumb.html -->
<div style="clear:both;">
    <div style="padding:3px;width:270px;" class="selectBox" onmouseover="this.className = 'selectBoxSelected';" onmouseout="this.className = 'selectBox';">
        <a href="project.html?name=[name]" style="text-decoration:none;">
            <div style="float:left;margin-right:5px;">
                <img src="content/[folder]/[entries.0.image]" style="width:75px;height:75px;" class="imageFrame" />
            </div>
            <div style="height:79px;overflow:hidden;">
                <font class="heading2">[title]</font><br />
                [description]
            </div>
        </a>
    </div>
</div>
<!-- projectThumb.html -->
